.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    box-shadow: 0px 0px 6px #000;
    padding: 30px;
    margin: 0 auto 30px auto;
    border-radius: 8px;
}
.form button{
    margin-top: 10px;
}